.header {
  align-items: center;
  background-color: $dark-gray;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0px 60px;
}

.header-icon {
  color: $white;
  font-weight: $bold-font-weight;
  font-size: $large-font-size;
}

.navbar-link {
  color: $white;
  padding: 10px 15px;
  text-decoration: none;
}
