html {
  @media (max-width: $medium-screen - 1) {
    font-size: 85%;
  }
}

a {
  color: $yellow;
  text-decoration: none;
}

p {
  font-size: $medium-font-size;
}

.heading-bracket {
  color: $yellow;

  &.left {
    padding-right: 8px;
  }
  &.right {
    padding-left: 8px;
  }
}
