$base-font-family: "Avenir", "HelveticaNeue", "Helvetica Neue";

// Colors
$nuacm-blue: #3db4cb;

$background-color: #f0f3f5;
$green: #16a085;
$white: #fff;
$yellow: #ffb316;
$blue: #2385af;
$light-blue: #6bbde0;
$dark-navy: #114054;
$light-gray: #f3f6f8;
$medium-gray: #4c5454;
$dark-gray: #1f2323;
$text-color: $dark-gray;

$action-color: $light-gray;
$action-color-hover: $medium-gray;
$light-action-color-hover: $action-color;

$base-font-size: 1rem;
$medium-font-size: $base-font-size * 1.2;
$large-font-size: $medium-font-size * 1.2;
$xl-font-size: $large-font-size * 1.2;
$xll-font-size: $xl-font-size * 1.2;


// Font weights
$normal-font-weight: 400;
$semibold-font-weight: 600;
$bold-font-weight: 700;

// Borders
$base-border-color: $yellow;
$base-border-radius: 4px;

$base-border: $base-border-color 2px solid;
$thicker-border: $base-border-color 3px solid;

$thin-border: $medium-gray 1px solid;
//Shadows
$base-box-shadow: 0 14px 26px -12px rgba(0,0,0, 0.42), 0 4px 23px 0px rgba(0,0,0, 0.12), 0 8px 10px -5px rgba(0,0,0, 0.02);

//Sizes
$container-width: 1220px;
$gutter-size: 20px;

// Breakpoints
$large-screen: $container-width;
$medium-screen: 768px;
$small-screen: 325px;
