html {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media (max-width: $medium-screen - 1) {
    font-size: 85%;
  }
}

a {
  color: $yellow;
  text-decoration: none;
}

p {
  font-size: $base-font-size;
}

.heading-bracket {
  color: $yellow;

  &.bracket-left {
    padding-right: 8px;
  }
  &.bracket-right {
    padding-left: 8px;
  }
}
