.container,
.container-for-grid {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: $container-width;
  padding-left: $gutter-size;
  padding-right: $gutter-size;
}

.container-small {
  max-width: $container-width * 0.65;
}

.container-not-padded {
  padding-left: 0;
  padding-right: 0;
}

.container-not-padded-mobile {
  padding-left: 0;
  padding-right: 0;
}

.content-section {
  padding: 20px;
}
