.alias-card {
  display: flex;
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;

  @include media-down($medium-screen) {
    flex-basis: 100%;
  }

  .el-card {
    width: 100%;
  }
}

.alias-card__content-group-header h3 {
  margin: 0;
}

.alias-card__content-group {
  margin-top: 20px;

  .alias-card-long-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .alias-card__buttons {
    display: flex;
    margin-top: 15px;
    text-align: center;

    button {
      flex-grow: 1;
      margin: 0 3px;
    }
  }
}
