header {
  align-items: center;
  background-color: $dark-gray;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;

  @include media-up($laptop-screen) {
    min-height: 70px;
    padding: 0px 60px;
  }
}

.header-icon {
  color: $white;
  font-weight: $bold-font-weight;
  font-size: $xl-font-size;
}

.navbar {
  // max-height: 400px;
  opacity: 1;
  transition: all 200ms ease-in-out;

  @include media-down($laptop-screen) {
    width: 100%;
  }
}

.navbar-link {
  color: $white;
  font-weight: $semibold-font-weight;
  padding: 10px 15px;
  text-decoration: none;
  transition: border-bottom 150ms;

  &.router-link-exact-active,
  &:hover {
    @include media-down($laptop-screen) {
      border-left: $thicker-border;
    }

    @include media-up($laptop-screen) {
      border-bottom: $thicker-border;
    }
  }

  @include media-down($laptop-screen) {
    background-color: $medium-gray;
    display: block;
    padding: 15px 15px;
    margin: 10px 0px;

    &:first-child {
      margin-top: 20px;
    }
  }
}

.mobile-hidden {
  @include media-down($laptop-screen) {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

// Hamburger CSS inspired by from https://codepen.io/rss/pen/vIDKH

.hamburger {
  display: none;

  @include media-down($laptop-screen) {
    display: block;
    transition: margin 600ms;
    cursor: pointer;

    .hamburger-line {
      display: block;
      width: 3.8em;
      height: 2px;
      margin: 10px 0;
      border-right: 2.8em solid #fff;
      border-left: 0.6em solid #d6d6d6;
      box-sizing: border-box;
      transition-property: transform, border-right-color, box-shadow;
      transition-duration: 600ms;
    }
  }
}

.hamburger .hamburger-line:nth-of-type(1) {
  transition: opacity 300ms;
}
.hamburger .hamburger-line:nth-of-type(2) {
  transform: rotate(-180deg);
}

.navbar-active {
  padding: 17.5px 0;
}

.navbar-active .hamburger-line {
  margin: 0;

  &:nth-of-type(1) {
    opacity: 0;
  }

  &:nth-of-type(2) {
    transform: rotate(-135deg) translateY(-0.25em);
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
  }

  &:nth-of-type(3) {
    transform: rotate(-45deg);
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
  }
}
