.bio-and-image {
  align-items: center;
  display: flex;

  @include media-down($medium-screen) {
    flex-direction: column;
  }

  img {
    border-radius: 5px;
  }
}

.bio {
  @include media-up($medium-screen) {
    margin-right: 20px;
  }
}
