.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.hero-image {
  height: auto;
  width: 80%;
}

.homepage-intro {
  padding: 20px;
}

svg {
  display: block;
  font: 85px 'Avenir';
  width: auto;
  height: auto;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray : 6%  29% ;
  stroke-width: 2px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #1a1a1a;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #1a1a1a;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #1a1a1a;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #4d4d4d;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #1a1a1a;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {stroke-dashoffset: -35%;}
}
