.project-section__introduction {
  margin: 30px 0;
  text-align: center;
}

.project-section__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;

  @include media-down($medium-screen) {
    flex-direction: column;
  }
}

// Overrides for Element UI
#projects {
  .el-tabs__active-bar {
    background-color: $yellow;
  }

  .el-tabs__item {
    color: $text-color;
  }
}
