.project-section__introduction {
  margin: 30px 0;
  text-align: center;
}

.project-section__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;

  .el-card {
    width: 100%;
  }

  @include media-down($medium-screen) {
    flex-direction: column;
  }
}

// Overrides for Element UI
#projects {
  .el-tabs__active-bar {
    background-color: $yellow;
  }

  .el-tabs__item {
    color: $text-color;
  }
}

.el-collapse-item__header {
  height: auto;

  .project-heading-group {
    padding: 15px 0;
    line-height: 1.2;

    .project-heading {
      padding: 10px 0;
      font-size: $small-font-size;
    }

    .project-subheading-group {
      .project-subheading,
      .project-subheading-date {
        margin-top: 7.5px;
      }

      @include media-down($medium-screen) {
        display: inline-grid;
      }

      @include media-up($medium-screen) {
        .project-subheading-date {
          margin-left: 10px;
        }
      }
    }
  }
}
