.shorten__wrapper {
  max-width: 800px;
  margin: auto;

  .shorten__form {
    margin: 20px 5px;
  }

  .shorten__submit-button {
    margin-top: 20px;
    width: 100%;
  }
}

.shorten__result-wrapper {
  margin-top: 30px;

  .shorten__result-primary {
    margin-top: 0;
    overflow: scroll;
  }

  .shorten__result-subtitle {
    margin-bottom: 0;
  }

  a {
    color: $text-color;
    display: inherit;
  }
}

.shorten__saved-aliases-wrapper {
  margin-top: 40px;

  .shorten__saved-aliases {
    display: flex;
  }
}
