html {
  color: $text-color;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background-gray;
  margin: 0;
}

.form-group {
  padding: 10px 10px;
  display: flex;
}

.form-group-submit {
  text-align: center;
}

.el-card {
  background-color: $medium-gray !important;
  border-color: $dark-gray;
  color: $text-color;
}
