.skills__group {
  margin-bottom: 30px;

  @include media-up($medium-screen) {
    &.skills__group-key-wrapper {
      display: inline-flex;

      .skills__group-key {
        display: flex;
        align-items: center;
      }

      .skills__term-wrapper {
        align-items: center;
      }

      .skills__group-header {
        margin: 0 10px 0 0;
      }
    }
  }

  .skills__group-header {
    margin-top: 0;
  }

  .skills__term-wrapper {
    display: flex;
    flex-wrap: wrap;

    .skills__term {
      background-color: $dark-gray;
      border: $light-gray-border;
      border-radius: $base-border-radius;
      display: flex;
      margin: 5px 7.5px;
      position: relative;
    }

    .skills__term-content {
      padding: 5px 10px;
    }
  }

  .skills__proficiency-indicator {
    width: 5px;
    border-radius: 3px 0 0 3px;

    &.proficiency_key_3 {
      background-color: $green;
    }
    &.proficiency_key_2 {
      background-color: $yellow;
    }
    &.proficiency_key_1 {
      background-color: $light-blue;
      opacity: 0.5;
    }
  }
}
